    body {
      background-color: lightblue;
      font-size: 150%;
    }
    
     .myClass {
      background-color: gray;
      color: blue
    }
    
    .canadians {
      background color: orange;
      border:red 15px;solid;
      font-size: 85pt;
    }